* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  padding: 15px 20px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background:#DD5555;
  display: inline-block;
}

.btn:hover {
  background: red;
}

i:hover {
  cursor: pointer;
  color:red;
}

h1 {
  color: #DD5555;
}

h2, p, h3, h4 {
  color: #7d7d7d
}

#main-container {
  width:100%;
  padding: 50px;
  background: rgb(235,235,235);
}

.content-container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background:rgb(229,229,229);
}


.header-section {
  width: 100%;
  padding: 20px;
  background: rgb(229,229,229);
  text-align: center;
}

.header-section:after {
  content: '';
  display: table;
  clear: both;
}

.header-left-section {
  float:left;
  width: 40%;
}

.header-right-section {
  float: right;
  width: 60%;
}

.header-left-section .upper-content {
  padding: 15px;
  border-radius: 6px;
  background: white;
}

.header-left-section .pic-cnt {
  overflow: hidden;
  width: 140px;
  height: 140px;
  border: 3px solid grey;
  margin: 20px auto;
  border-radius: 100%
}

.pic-cnt img {
  width:100%;
}

.header-left-section .upper-content .detail-cnt {
  margin-bottom: 25px;
}

.header-left-section .upper-content .detail-cnt p {
  text-align: justify;
}
.header-left-section .upper-content .detail-cnt *:not(.btn){
  margin: 20px;
}

.header-left-section .lower-content {
  margin-top:40px;
  padding: 20px 30px;
  border-radius: 6px;
  background: white;
}

.header-left-section .lower-content:after {
  content: '';
  display: table;
  clear: both;
}

.socials-cnt {
  margin: 0 auto;
}

.social  {
  display: inline-block;
  margin: 20px;
}

.social * {
  color: rgb(229,229,229);
}

.social a {
  text-decoration: none;
}

.social a:hover {
  color: red;
  cursor: pointer;
}

.social i {
  display: block;
  font-size: 30px;
  margin-bottom: 15px;
}


.header-right-content {
  background: white;
  text-align: left;
  padding: 60px 30px;
  border-radius: 6px;
  margin-left: 40px;
}

.tool {
  width:95%;
  margin: 20px auto;
}

.tool:after {
  content: '';
  display: table;
  clear: both;
}

.tool img {
  float: left;
  height:150px;
  width:150px;
  margin-right: 20px;
}

.tool-detail-container {
  float: left;
  position: relative;
  height: 150px;
  width: calc(100% - 170px);
}

.tool-detail-content {
  position: absolute;
  margin: 0 10px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: black;
}

.tool-detail-content p {
  margin-top: 20px;
  text-align: justify;
}

/* footer section */

.footer-section {
  padding: 20px;
}

.footer-content {
  position: relative;
  border-radius: 6px;
  padding: 40px;
  background: white;
}

.footer-content > h4 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-content p a {
  color: rgb(204,204,204);
}

.footer-content p a:hover {
  color: red;
}

.footer-icons-container {
  position: absolute;
  bottom:0;
  right: 0;
  margin: 20px;
}

.footer-icons-container i {
  font-size: 30px;
  margin-left: 15px;
  color: rgb(204,204,204);
}

.footer-icons-container i:hover {
  color: red;
  cursor: pointer;
}
