* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  padding: 15px 20px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  background:orange;
  display: inline-block;
}

#main-container {
  width:100%;
  padding: 50px;
  background: rgb(235,235,235);
}

.content-container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background:rgb(229,229,229);
}


.header-section {
  width: 100%;
  height: 800px;
  padding: 20px;
  background: rgb(229,229,229);
  color: black;
  text-align: center;
}

.header-section:after {
  content: '';
  display: table;
  clear: both;
}

.header-left-section {
  float:left;
  width: 40%;
  height: 100%;
  background: red;
}

.header-right-section {
  float: right;
  width: 60%;
  height:100%;
  /* background: grey; */
}

.header-left-section .upper-content {
  /* height: 450px; */
  padding: 15px;
  border-radius: 6px;
  background: white;
}

.header-left-section .pic-cnt {
  overflow: hidden;
  width: 200px;
  height: 200px;
  background: black;
  border: 3px solid grey;
  margin: 20px auto;
  border-radius: 100%
}

.pic-cnt img {
  width:100%;
}

.header-left-section .upper-content .detail-cnt {
  margin-bottom: 25px;
  /* background:green; */
}

.header-left-section .upper-content .detail-cnt *:not(.btn){
  margin: 20px;
}

.header-left-section .lower-content {
  margin-top:30px;
  height: 180px;
  border-radius: 6px;
  background: white;
}

.header-right-content {
  background: white;
  height: 100%;
  border-radius: 6px;
  margin-left: 40px;
}

/* footer section */

.footer-section {
  height: 300px;
  padding: 20px;
  background: yellow;
}

.footer-content {
  height: 100%;
  border-radius: 6px;
  background: blue;
}
