* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  width:100%;
  padding: 50px;
  background: black;
}

.content-container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background:lightgrey;
}


.header-section {
  width: 100%;
  height: 600px;
  padding: 20px;
  background: green;
}

.header-section:after {
  content: '';
  display: table;
  clear: both;
}

.header-left-section {
  float:left;
  width: 40%;
  height: 100%;
  background: red;
}

.header-right-section {
  float: right;
  width: 60%;
  height:100%;
  background: grey;
}

.header-left-section .upper-content {
  height: 350px;
  background: white;
}

.header-left-section .lower-content {
  margin-top:30px;
  height: 180px;
  background: white;
}

.header-right-content {
  background: white;
  height: 100%;
  margin-left: 40px;
}

/* footer section */

.footer-section {
  height: 300px;
  padding: 20px;
  background: yellow;
}

.footer-content {
  height: 100%;
  background: blue;
}
